@charset "UTF-8";
/* CSS Document */

html {
	background-color:#FFFFFF;
}

body {
	background-color: #f8f9fa;
	margin:0;
}

#h1 {
	padding-top:0;
}

header {
	height: 70px;
	background-color: #212529;
}

#ham-menu {
	display:none;
}

.ham-menu {
	height:50px;
}

.masthead {
 	min-height: 700px;
	background-image:url(https://fit-front-end-course.s3.amazonaws.com/header-bg.jpg);
	background-size:cover;
    background-position:center;
}

header nav {
	display:flex;
	margin:0 auto;
	max-width: 960px;
}

header nav a {
	font-family: 'montserrat';
	font-weight: 300px;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}

header nav a:hover {
	color: #fed136;
}

header nav ul {
  display:flex;
  justify-content:flex-end;
  list-style-type:none;
  margin-left:auto;
}

li {
	padding:10px 20px;
}

.masthead div {
	padding-top: 200px;
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	color: #FFFFFF;
}

.masthead div p {
	font-size: 30px;
	margin-bottom: 0;
	color: #FFFFFF;
}

p {
	font-family: 'roboto slab';
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color:#B5B5B5;
	margin: 0;
}

footer {
	display:flex;
	margin:0 auto;
	justify-content:space-between;
	/*max-width: 960px;*/
	height:60px;
	border-top: 2px solid black;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}

#copyright {
	width:320px;
	padding-top:25px;
	margin-left:auto;
}

#copyright p {
	font-family: 'montserrat';
	font-size:14px;
	text-align: left;
	color: #212529;
}

#footer-social {
	width: 320px;
}

#footer-nav {
	width:320px;
	margin-right:auto;
}

#footer-nav a {
	font-family: 'montserrat';
	font-size:14px;
	text-decoration: none;
	color: #fed136;
}

#footer-nav ul {
  display:flex;
  justify-content:flex-end;
  list-style-type:none;
}

h1{
	font-family: 'montserrat';
	font-size: 24px;
	font-weight: 700;
	text-transform:uppercase;
	color: #FED136;
}

h2{
	display: block;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	color:#212529;
	margin:0;
	padding-top: 50px;
	padding-bottom:15px;
}

h3 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
	text-align:center;
	color:#212529;
	margin-bottom:0;
	padding-bottom: 5px;
	margin-top: 10px;
}

section{
	display: flex;
	flex-wrap:wrap;
	max-width:960px;
	margin:50px auto;
}

.h2-sub {
	display: block;
	width: 100%;
	margin-bottom:50px;
}

.three-column {
	width: 300px;
	padding: 10px;
	/*margin-top: 50px;*/
	margin-bottom: 30px;
}

.icons {
	display: block;
	margin:0 auto 20px;
}

button {
	display:block;
	margin:20px auto;
	border-radius:.25rem;
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 16px;
	height: 60px;
	padding: 10px 40px 10px 40px;
	color: #FFFFFF;
	background-color: #fed136;
	border:none;
}

button:hover {
	background-color: #E2BB35;
}

.team-photos {
	border-radius: 50%;
	max-width:200px;
	display: block;
	margin:0 auto 20px;
	border: 8px solid #CCCCCC;
}

#team-para {
	width:60%;
	margin:0 auto 50px;
}

.portfolio {
	background-color: #FFFFFF;
	padding:10px 0 25px 0;
	margin-top:0;
}

.portfolio-images {
  display: block;
  width: 300px;
  height: auto;
}

.image-container {
  position: relative;
  width: 100%;
}



/*hover-overlay*/

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fed136;
}

.image-container:hover .overlay {
  opacity: 0.9;
}

.overlay-text {
  color: #FFFFFF;
  font-size: 100px;
  text-align:center;
  font-family: 'montserrat';
  font-weight:700;
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.image-container:hover .overlay-text {
  opacity: 1;
}

/* end hover overlay*/


/*modal*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:80%;
  height: 85%;
  padding:20px;
  border-radius:20px;
  background-color:white;
  box-shadow:3px 3px 12px gray;
  text-align:center;
	
  display:none;
}
.modal_on {
  display:block;
}

.modal-images {
	height: 60%;
	padding: 20px 0 20px 0;
}

/* end modal */

/* about page*/

.timeline {
	list-style:none;
	max-width: 960px;
	height:1450px;
	padding:0;
	margin:0 auto;
}

.timeline li {
	padding-top:0;
	padding-bottom:103px;
	display: flex;
}

.vertical-line {
	position:absolute;
	left: 50%;
	transform:translate(-50%);
	width: 2px;
	background-color:#CCCCCC;
	height: 1300px;
	
}

.timeline-text-left {
	width:35%;
	padding-right:20px;
}

.timeline-text-right {
	width:35%;
	padding-left:20px;
	margin-left:auto;
}

.right-align {
	text-align: right;
}

.left-align {
	text-align: left;
}

.right-align h3 {
	margin-top:0;
}

.timeline-image {
	position:absolute;
	left: 50%;
	transform:translate(-50%);
	max-width: 150px;
	z-index: 100;
}

.timeline-image-style {
	height:135px;
	width:134px;
	border-radius:100%;
	border: 8px solid #CCCCCC;
}

#last-circle {
	display: none;
}

#yellow-circle {
	height:134px;
	width:134px;
	background-color: #fed136;
	border-radius:100%;
	border: 8px solid #CCCCCC;
	position:absolute;
	left: 50%;
	transform:translate(-50%);
	z-index: 100;
}

#yellow-circle-text {
	color: #FFFFFF;
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	padding-top: 25%;
}

/* end about page */

/* contact page*/


main {
	min-height:700px;
	background-color: #212529;
	background-image:url(https://fit-front-end-course.s3.amazonaws.com/map-image.png)
}

main h2 {
	color: #FFFFFF;
	padding-top:100px;
}

form {
	display: flex;
	max-width:960px;
	margin:0 auto;
	padding-bottom: 20px;
}

.left {
	display:block;
	width:50%;
}

.right {
	display:block;
	width:50%;
}

input {
	font-family: 'montserrat';
	font-weight: 700;
	color: #cccccc;
	border:1px solid #cccccc;
	border-radius:.25rem;
	/*display:block;*/
}

.left-form {
	padding:10px 283px 10px 20px;
	height: 40px;
	margin:10px;
}

.right-form {
	padding:10px 283px 174px 20px;
	height: 40px;
	margin:10px;
}




/*responsive*/

@media screen and (max-width: 768px) {
	
	header {
		/*display: flex;*/
	}
	
	header nav {
		display: flex;
		margin:0;
		padding-left:10%;
		height:70px;
	}
	
	#h1 {
	padding-top:0;
	display:flex;
}
	
	#ham-menu {
		display: flex;
		top: 50%;
		padding:10px 10% 10px 10px;
		margin-left:auto;
		height:70px;
		width:70px;
	}
	
	header nav ul {
		display: none;
	}
	
	#welcome {
		display: block;
	}
	
	/* footer */
	
	footer {
		flex-direction:column;
	}
	
	#copyright {
		margin:0 auto;
		justify-content: center;
	}
	
	#copyright p {
		text-align:center;
	}
	
	#footer-social {
		margin:0 auto;
		height: 40px;
	}
	
	#footer-nav {
		margin:0 auto;
	}
	
	#footer-nav ul {
		justify-content:center;
		padding:0;
	}
	
	
	.three-column {
		flex-direction:column;
		justify-content:center;
		margin:0 auto;
	}

	/* about page */
	.timeline {
		list-style:none;
		max-width: 960px;
		height:1400px;
		padding:0;
		margin:0 auto;
	}
	
	
	.vertical-line {
		position:absolute;
		left: 15%;
		transform:translate(-50%);
		width: 2px;
		background-color:#CCCCCC;
		height: 1250px;

	}
	
	.timeline-text-left {
		width:60%;
		min-width:300px;
		margin-left: 25%;
		padding:0;
	}
	
	.timeline-text-right {
		width:60%;
		min-width:300px;
		margin-left:25%;
		padding:0;
	}

	.right-align {
		text-align: left;
	}
	
	.timeline-image {
		position:absolute;
		left: 15%;
		min-width: 76px;
		z-index: 100;
	}

	.timeline-image-style {
		height:60px;
		width:60px;
		border-radius:100%;
		border: 8px solid #CCCCCC;
	}
	
	#last-circle {
		display: flex;
	}
	
	#yellow-circle {
		height:60px;
		width:60px;
		position:absolute;
		left: 15%;
		z-index: 100;
	}

	#yellow-circle-text {
		display:none;
	}
	
	
	/* project page */
	
	.modal {
		width:80%;
		height: auto;
		position: fixed;
		top: 50%;
	    left: 50%;
  	    transform: translate(-50%, -50%);
	}
	
	.modal-images {
		width:80%;
		height:auto;
		padding: 20px 0 20px 0;
	}
	
	
	/* contact page */
	main {
		min-height: 900px;
	}
	
	form {
		flex-direction:column;
		justify-content: center;
	}
	
	.left {
		margin:0 auto;
		width:460px;
	}
	
	.right {
		margin:0 auto;
		width:460px;
	}

}

