@charset "UTF-8";
/* CSS Document */

html {
	background-color:#FFFFFF;
}

body {
	/*margin:0 auto;
	max-width: 960px;*/
	background-color: #f8f9fa;
}

header {
	height: 70px;
	background-color: #212529;
}

.masthead {
 	min-height: 700px;
	background-image:url(https://fit-front-end-course.s3.amazonaws.com/header-bg.jpg);
	background-size:cover;
    background-position:center;
}

header nav {
	display:flex;
	margin:0 auto;
	max-width: 960px;
}

header nav a {
	font-family: 'montserrat';
	font-weight: 300px;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
}

header nav a:hover {
	color: #fed136;
}

header nav ul {
  display:flex;
  justify-content:flex-end;
  list-style-type:none;
	margin-left:auto;
  /*width: 100%;*/
}

li {
	padding:10px 20px;
}

.masthead div {
	padding-top: 200px;
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	color: #FFFFFF;
}

.masthead div p {
	font-size: 30px;
	margin-bottom: 0;
	color: #FFFFFF;
}

p {
	font-family: 'roboto slab';
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color:#B5B5B5;
	margin: 0;
}

footer {
	display:flex;
	margin:0 auto;
	justify-content:space-between;
	/*max-width: 960px;*/
	height:60px;
	border-top: 2px solid black;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}

#copyright {
	width:320px;
	padding-top:25px;
	margin-left:auto;
}

#copyright p {
	font-family: 'montserrat';
	font-size:14px;
	text-align: left;
	color: #212529;
}

#footer-social {
	width: 320px;
}

#footer-nav {
	width:320px;
	margin-right:auto;
}

#footer-nav a {
	font-family: 'montserrat';
	font-size:14px;
	text-decoration: none;
	color: #fed136;
}

#footer-nav ul {
  display:flex;
	justify-content:flex-end;
  list-style-type:none;
}

h1{
	font-family: 'montserrat';
	font-size: 24px;
	font-weight: 700;
	text-transform:uppercase;
	color: #FED136;
}

h2{
	display: block;
	width: 100%;
	font-family: 'Montserrat';
	font-weight: 700;
	text-transform: uppercase;
	font-size: 36px;
	text-align: center;
	color:#212529;
	margin:0;
	padding-top: 50px;
	padding-bottom:15px;
}

h3 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 24px;
	text-align:center;
	color:#212529;
	margin-bottom: 10px;
	margin-top: 10px;
}

section{
	display: flex;
	flex-wrap:wrap;
	max-width:960px;
	margin:50px auto;
}

.h2-sub {
	display: block;
	width: 100%;
	margin-bottom:50px;
}

.three-column {
	width: 300px;
	padding: 10px;
	/*margin-top: 50px;*/
	margin-bottom: 30px;
}

.icons {
	display: block;
	margin:0 auto 20px;
}

button {
	display:block;
	margin:20px auto;
	border-radius:.25rem;
	font-family: 'montserrat';
	font-weight: 700;
	font-size: 16px;
	height: 60px;
	padding: 10px 40px 10px 40px;
	color: #FFFFFF;
	background-color: #fed136;
	border:none;
}

button:hover {
	background-color: #E2BB35;
}

.team-photos {
	border-radius: 50%;
	max-width:200px;
	display: block;
	margin:0 auto 20px;
	border: 8px solid #CCCCCC;
}

#team-para {
	max-width:600px;
	margin:0 auto 50px;
}

.portfolio {
	background-color: #FFFFFF;
	padding:10px 0 25px 0;
	margin-top:0;
}

.portfolio-images {
	max-width: 300px;
	/*position:relative;
	z-index:0;*/
}

.portfolio-images:hover {
	opacity: 10%;	
}

.image-container {
	height:225px;
	margin: 0 auto;
}

.image-hover {
	/*position: absolute;
	z-index:5;*/
	background-color: #fed136;
	height:225px;
}

.material-icons {
	color: #FFFFFF;
	text-align: center;
}

#modal {
  position:fixed;
  width:40%;
  padding:20px;
  top:400px;
  left:0;
  right:0;
  margin:0 auto;
  border-radius:20px;
  background-color:white;
  box-shadow:3px 3px 12px gray;
  text-align:center;
}
.modal {
  display:none;
}
.modal_on {
  display:block;
}


main {
	min-height:700px;
	background-color: #212529;
	background-image:url(https://fit-front-end-course.s3.amazonaws.com/map-image.png)
}

main h2 {
	color: #FFFFFF;
	padding-top:100px;
}

form {
	display: flex;
	width:960px;
	margin:0 auto;
	padding-bottom: 20px;
}

.left {
	max-width:470px;
}

.right {
	max-width:470px;
}

input {
	font-family: 'montserrat';
	font-weight: 700;
	color: #cccccc;
	border:1px solid #cccccc;
	border-radius:.25rem;
	/*display:block;*/
}

.left-form {
	padding:10px 283px 10px 20px;
	height: 40px;
	margin:10px;
}

.right-form {
	padding:10px 283px 174px 20px;
	height: 40px;
	margin:10px 0 10px 25px;
}


